
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <br>
    <br>
    <h2 align="center">The simplest way to keep notes</h2>
    <br>
    <img src="assets/1.gif" alt="" style="padding-left: 37%;">
    
    <p align="center" style="padding-top: 5%;padding-left: 3%; font-size: 150%;">Use it everywhere & Work together</p>
    <pre align="center" style="font-size: 100%;">
        Notes stay updated across all your devices, automatically and in real time. 
        There’s no “sync” button: It just works.
        Share a to-do list, post some instructions, 
        or publish your notes online.
    </pre>
   
    <p align="center" style="font-size: 150%;">Stay organized & Go back in time</p>
    <pre align="center" style="font-size: 100%;">
        Add tags to find notes 
        quickly with instant searching.
        Notes are backed up with every change, 
        so you can see what you noted last week or last month.
    </pre>
   

    <p align="center" style="font-size: 150%;">Markdown support & It’s free</p>
    <pre align="center" style="font-size: 100%;">
        Write, preview, and publish your notes in Markdown format.
        Apps, backups, syncing, sharing – it’s all completely free.
    </pre>
    

    
  
</body>
</html>